//COLORS
//Primary
$color-1: hsl(179, 62%, 43%); //Cyan
$color-2: hsl(71, 73%, 54%); //Bright Yellow
//Neutral
$neutral-color-1: hsl(204, 43%, 93%); //Light Gray 
$neutral-color-2: hsl(218, 22%, 67%); //Grayish Blue
$shadow: hsla(120, 0%, 0%, 0.2);

$b-radius: 5px;

html body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: $neutral-color-2;
}
body {
    background-color: $neutral-color-1;
}
main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card--wrapper {
    max-width: 650px;
    
    display: grid;
    box-shadow: 0px 10px 20px $shadow;
    border-radius: 10px;
    gap: 0;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    grid-template-areas:
	"main-box main-box"
	"data-box question";

    > section {
	padding: {
	    top: 2rem;
	    right: 2.5rem;
	    bottom: 2rem;
	    left: 2.5rem;
	}
    }
    
    section:nth-child(1){
	background-color: white;
	grid-area: main-box;
	> h1 {
	    color: $color-1;
	    font-weight: 700;
	}
	> h2 {
	    color: $color-2;
	    font-size: 1.1em;
	}
    }
    section:nth-child(2){
	background-color: $color-1;
	color: white;
	grid-area: data-box;
	div:nth-child(4) {
	    background-color: $color-2;
	    width: 100%;
	    height: 2.6rem;
	    margin-top: 2rem;
	    text-align: center;
	    display: table;
	    border-radius: $b-radius;
	    box-shadow: 0px 10px 10px $shadow;
	    a {
		color: white;
		text-decoration: none;
		display: table-cell;
		vertical-align: middle;
		font-weight: bold;
	    }
	}
	> h1 {
	    font-size: 1.1rem;
	}
	> table {
	    td:nth-child(1) {
		vertical-align: middle;
		font-size: 2rem;
		font-weight: bold;;
	    }
	    td:nth-child(2) {
		opacity: 0.6;
		padding-left: 0.6rem;
	    }
	}
    }
    section:nth-child(3){
	background-color: $color-1;
	color: white;
	grid-area: question;
	position: relative;
	padding-right: 4rem;
	> h1 {
	    font-size: 1.1rem;
	}
	> p {
	    font-size: 0.9rem;
	    opacity: 0.7;
	    line-height: 1.5rem;
	}
	&::before {
	    margin: {
		top: -2rem;
		left: -2.5rem;
	    }
	    content: '';
	    display: block;
	    background-color: rgba(255, 255, 255, 0.2);
	    //mix-blend-mode:lighten;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	}
    }
}

footer {
    p {
	font-size: 11px; text-align: center;
	font-family: arial;
	a {
	    color: hsl(228, 45%, 44%);
	    text-decoration: none;
	}
    }
}

//Responsive Configuration

@media screen and (max-width: 650px) {
    .card--wrapper {
	min-width: 300px;
	max-width: 70%;
	grid-template-columns: 100%;
	grid-template-rows: 40% 30% 30%;
	grid-template-areas:
	    "main-box"
	    "data-box"
	    "question";
	> section {
	    padding: {
		top: 1rem;
		left: 1.5rem;
		right: 1.5rem;
	    }
	    
	    &::before {
		margin-left: -1.5rem;
	    }
	   
	}
	section:nth-child(1){
	    font-size: 0.9rem;
	    line-height: 1.5rem;
	}
    }
}
